.searchContainer {
    display: flex;
    background: #969393;
    padding: 10px;
    border-radius: 3px;

    input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 3px;
        border: 1px solid
    }

    button {
        margin-left: 5px;
        cursor: pointer;
    }
}