.movieList{
        
    &__item {
        display: flex;
        min-height: 150px;
        width: 100%;
        padding: 14px;;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #ffffff;
    
        &--image {
            width: 120px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--body {
            width: 100%;
            padding-left: 10px;
            box-sizing: border-box;
        }

        &.odd-Item {
            background-color: #f6f6f5;
        }
    }
}

.result-title {
    width: 100%;
    display: flex;
    margin-bottom: 7px;

    label {
        width: 100%;
        font-size: 17px;
        color: grey;
        font-weight: 400;
        
        span:nth-child(2) {
            font-weight: 700;
            margin: 0 5px;
            color: #3054d6;
            font-size: 17px;
        }
    }

    span{
        cursor: pointer;
    }
}

.result-overview {
    min-height: 90px;
    font-size: 13px;
}

.result-meta {
    display: flex;
    align-items: center;
    font-size: 13px;

    > span {
        margin: 0 5px;
        color: #989595;
    }

    &__metric {
        display: flex;
        align-items: center;

        > svg {
            color: #f5b500;
            width: 20px;
        }

        > label {
            color: #989595;
            margin-right: 3px;
        }
    }
}