.app {
  background-color: #e3e2dd;
  height: 100vh;
  overflow-y: scroll;

  .mainContainer {
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #e8e8e6;

    &__topbar{
      display: flex;

      :nth-child(2) {
        display: flex;
        align-items: center;
        margin-left: auto;

        button {
          padding: 10px;
          margin-left: 5px;
          cursor: pointer;
          border: none;
          outline: none;
          background-color: #e8e8e6;
          position: relative;

          > div.favCount{
            padding: 3px 5px;
            position: absolute;
            background-color: red;
            color: #fff;
            top: -10px;
            right: -10px;
            border-radius: 3px;
          }
          
          &.active {
            border: 1px solid silver;
            border-radius: 3px;
            background-color: #969393;
            color: #fff;

            > svg {
              background-color: transparent;
            }
          }

          :hover {
            background-color: #e3e2dd;;
          }
        }
      }
    }
    
  
    .app-loading {
      padding: 10px 0;
      font-style: italic;
      font-size: 13px;
    }
  }
}